.image {
  float: left;
  min-height: 100px;
}
.header {
  width: 100%;
  background-color: white;
  text-align: center;
  color : black;
  background: url('../image/whiteback.jpg') no-repeat center center fixed;
  background-size: cover;
}
.name {
  color:darkblue;
}

.header :first-child div { 
  float: right;
  gap: 10px;
}

/* .header :first-child div button {
  margin-right: 10px;
  margin-bottom: 0%;
  border-radius: 0.5pc;
  background-color: black;
} */

.slider {
  background-color: aquamarine;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
