.form-Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-Container button {
    background-color: green;
    /* color: white; */
    border-radius: 2pc; 
    margin: 10px;
    padding: 5px 70px 5px 70px ; 
    cursor: pointer; 
}

.form-Container label {
    font-weight: bold;
    
}
.form-Container input  {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 70px 0px 0px ; 
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 0.5pc;
}
.signin-Heading{
    background-color: transparent;
    font-size: 28pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.SignIn{
    display: flex;
    
}

p2{
    color : darkblue;
}
.SignIn img {
    float: right;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 2pc;
}

.usericon {
    font-size: 150px; 
    margin-bottom: 20px; 
    text-align: center;
}

span {
    color :red;
    font-family: 'Times New Roman', Times, serif;
}